*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

h1 {
    color: blue;
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    color: red;
    font-size: 25px;
    margin-bottom: 10px;
}



.main-text{
    text-align: justify;
    margin-bottom: 20px;
}

.outer-text{
    font-size: 22px;
}

.blog-post {
    position: relative;
    width: 75%;
    background-color: #f6f6f6;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
}
.date{
    position: absolute;
    top: 10px;
    right: 30px;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.other-post{
    background-color: #e6e4e4;
    width: 25%;
    float: right;
    padding: 20px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.author-box{
    margin-top: 25px;
    padding: 10px;
    background-color: aquamarine;
}